body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  height: 100vh;
  width: 100%;
  background-image: url("images/2.png"), url("images/3.png");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: left top, center;
}
