/* 1. Element Selector
2. ID Selector
3. Class Selector
*/

body {
  background-color: rgb(170, 197, 197);
}

p {
  color: brown;
}

#third {
  color: rgb(89, 27, 131);
}

.para {
  color: rgb(93, 145, 62);
}

#header {
  color: blue;
}

h1 {
  color: green;
}

.color-h {
  color: red;
}

/* Priority InlineCSS > ID > Class > Element Selector after that it will be prioritise by order */
