.name {
  color: red;
}

.rgb {
  color: rgb(255, 0, 0);
}

.rgba {
  color: rgba(255, 0, 0, 0.6);
}

.hsl {
  color: hsl(0, 100%, 50%);
}

.hsla {
  color: hsla(0, 100%, 50%, 0.6);
}

.hex {
  color: #ff0000;
}
