a {
  text-decoration: none;
}

/* While using hover if we use link and visited than it will be before hover and if we use active than it will be after hover which we can say last. */

a:link {
  color: blue;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: red;
}
